.roadmap-stage {
    display: flex;
    flex-direction: row;
}

.stage-number {
    background-image: linear-gradient(to right bottom, #598efb, #568cfb, #538afb, #4f87fa, #4c85fa, #4983fa, #4782fb, #4480fb, #417efc, #3e7dfd, #3c7bfe, #3979ff);
    box-sizing: border-box;
    color: white;
    height: 46px;
    display: flex;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    z-index: 1;
}

.current-stage .stage-number {
    background-image: none;
    background-color: #2e6ef1 !important;
    box-shadow: 2px 2px 6px #4258fc, -2px -2px 6px #4258fc;
}

.actions {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: white;
    margin: 4px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 100px;
}

.action {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
}

.actions label {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    white-space: nowrap;
}

@media (max-width: 1100px), (max-height:700px) {
    .stage-number {
        height: 42px;
        font-size: 15px;
    }

    .actions {
        margin-left: 8px;
        gap: 9px;
        padding: 9px;
    }

        .actions label {
            font-size: 14px;
        }
}

@media (max-width: 920px) {
    .stage-number {
        height: 36px;
        font-size: 14px;
    }

    .actions {
        margin-left: 7px;
        gap: 6px;
        margin: 3px;
        padding: 8px;
    }

        .actions label {
            font-size: 13px;
        }
}
