@inject IJSRuntime JSRuntime
<div class="dialog-content">
    <label class="choose-label unselectable">Choose one item</label>
    <div class="options-container">
        @foreach (BaseInventoryItem item in ItemsToChooseFrom)
        {
            <div class="item-choosing-card unselectable">
                <span>
                    <InventoryItemWithRarityComponent itemToDisplay="item" />
                </span>

                <button @onclick="()=>itemChosenAction(item)">Choose</button>
            </div>
        }
    </div>
    <ItemsChoosingDialogBottomButtons onRefresh="refreshItemsAction" onSkip="skipAction" tokensCount="tokensCount" />
</div>

@code {
    [Parameter]
    public Action refreshItemsAction { get; set; }
    [Parameter]
    public Action skipAction { get; set; }

    [Parameter]
    public Action<BaseInventoryItem> itemChosenAction { get; set; }
    [Parameter]
    public BaseInventoryItem[] ItemsToChooseFrom { get; set; }
    [Parameter]
    public int tokensCount { get; set; }

}
