@inject AppController appController
<div class="machine-extended-content-container unselectable">
    <label class="message-label">
        @(actionType switch
        {
            BeforeStageActionType.AddColumn => "Column added",
            BeforeStageActionType.AddRow => "Row added",
            _ => throw new NotImplementedException("Unsupported action type " + actionType)
        })
    </label>
    <div class="animation-container @(actionType==BeforeStageActionType.AddColumn ? "column-added" : "row-added")">
        <div class="current-grid">
            @for (int i = 0; i < currentColumnCount; i++)
            {
                for (int j = 0; j < currentRowCount; j++)
                {
                    <span class="grid-item"></span>
                }
            }
        </div>
        <div class="added-part">
            @if (actionType == BeforeStageActionType.AddColumn)
            {
                for (int i = 0; i < currentRowCount; i++)
                {
                    <span class="added-grid-item"></span>
                }
            }
            else
            {
                for (int i = 0; i < currentColumnCount; i++)
                {
                    <span class="added-grid-item"></span>
                }
            }
        </div>
    </div>
    <div class="ok-button" @onclick="ExtendSlotMachine">Ok</div>
</div>

@code {
    private void ExtendSlotMachine()
    {
        if (actionType == BeforeStageActionType.AddRow)
            appController.Game.SlotMachine.IncreaseRowsCount();
        else if (actionType == BeforeStageActionType.AddColumn)
            appController.Game.SlotMachine.IncreaseColumnsCount();
        else throw new NotImplementedException("Impossible action type");
        moveToNextBeforeStageAction();
    }

    [Parameter]
    public int currentColumnCount { get; set; }
    [Parameter]
    public int currentRowCount { get; set; }
    [Parameter]
    public BeforeStageActionType? actionType { get; set; }
    [Parameter]
    public Action moveToNextBeforeStageAction { get; set; }
}
