<div class="diamonds-count-display unselectable">
    <label>@count </label>
    <img src="/resources/images/inventory/diamond.png" />
</div>

@code {
    [Parameter]
    public int count { get; set; }
}
