.diamonds-count-display {
    display: flex;
    flex-direction: row;
}

    .diamonds-count-display label {
        height: 100%;
        align-items: center;
        display: flex;
        font-family: 'Overload';
        font-size: calc(4px + 0.9vw + 1.2vh);
    }

    .diamonds-count-display img {
        box-sizing: border-box;
        padding: 2px;
        height: 100%;
        aspect-ratio: 1/1;
    }
