<div class="item-to-display unselectable">
    <img src="@ResourcePathsHelper.ResourcesImages(itemToDisplay.Image)" />
    <div style="box-shadow: 0px 0px calc(14px + 0.26vw + 0.4vh) calc(10px + 0.25vw + 0.35vh) @itemToDisplay.Rarity.ToHexColor(); background:@itemToDisplay.Rarity.ToHexColor()"></div>
</div>

@code {
    [Parameter]
    public BaseInventoryItem itemToDisplay { get; set; }
}
