@inject ShowItemInfoDialogService showItemInfoDialog

<div class="item-to-display unselectable" @onclick="ShowItemInfo">
    <img src="@ResourcePathsHelper.ResourcesImages(itemToDisplay.Image)" style="filter: drop-shadow(0 0 calc(0.36vw + 0.40vh - 1px) @itemToDisplay.Rarity.ToHexColor());" />
    <div style="box-shadow: 0px 0px calc(9px + 0.3vw + 0.4vh) calc(8px + 0.2vw + 0.3vh) @itemToDisplay.Rarity.ToHexColor(); background:@itemToDisplay.Rarity.ToHexColor()"></div>
    @if(itemToDisplay is IWithCounter)
    {
        <label class="counter-value">@((itemToDisplay as IWithCounter).Counter)</label>
    }
</div>

@code {
    [Parameter]
    public BaseInventoryItem itemToDisplay { get; set; }
    private async void ShowItemInfo()
    {
        await showItemInfoDialog.ShowDialog(itemToDisplay);
    }
}