.item-to-display {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

    .item-to-display:hover img {
        padding: calc(1px + 4%);
    }

    .item-to-display:hover .counter-value {
        bottom: calc(3px + 3%);
        opacity: 0;
    }

    .item-to-display div {
        position: absolute;
        height: 2px;
        width: 2px;
        border-radius: 1000px;
        border: none;
    }

    .item-to-display img {
        box-sizing: border-box;
        padding: calc(3px + 5%);
        z-index: 1;
        height: 100%;
        width: 100%;
        transition-duration: 0.08s;
        cursor: pointer;
    }

    .item-to-display .counter-value {
        position: absolute;
        bottom: calc(3px + 4%);
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        background-color: white;
        padding: 4px 8px;
        border-radius: 8px;
        z-index: 2;
        font-size: calc(13px + 50%);
        font-family: Montserrat;
        font-weight: bold;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        transition: opacity 0.26s ease-in;
    }

@media (max-width: 800px), (max-height: 600px) {
    .item-to-display div {
        box-shadow: none;
    }
}
