.item-to-display {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

    .item-to-display:hover img {
        padding: 1%;
    }

    .item-to-display div {
        position: absolute;
        height: 2px;
        width: 2px;
        border-radius: 10px;
        border: none;
    }

    .item-to-display img {
        box-sizing: border-box;
        padding: calc(2px + 4%);
        z-index: 1;
        height: 100%;
        width: 100%;
        transition-duration: 0.08s;
        cursor: pointer;
    }

    .item-to-display .counter-value {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5); /* Добавить немного прозрачности, если нужно */
        padding: 5px;
        border-radius: 0 10px 0 0; /* Скруглить только правый верхний угол */
        z-index: 2; /* Убедитесь, что счётчик отображается поверх изображения */
        font-size: 14px; /* Размер шрифта можно настроить по вкусу */
        color: black; /* Цвет текста */
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Немного тени для лучшей видимости */
    }
