
<div class="token-display">
    <label>@count </label>
    <img src="@type.ImageFullPath()"
</div>
@* img and count *@
@code {
    [Parameter]
    public TokenType type { get; set; }
    [Parameter]
    public int count { get; set; }

}
