.run-info-link-button {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 20px;
    padding: 6px 10px;
    border:none;
    border-radius:10px;
    transition:all 0.08s ease-in;
}
.run-info-link-button:hover {
    transform:scale(1.07);
}
    .run-info-link-button label {
        color: white;
        font-family: 'Montserrat';
        font-size: 26px;
        font-weight: bold;
        text-align: start;
        letter-spacing:1px;
    }

    .run-info-link-button span {
        width: 100%;
        aspect-ratio: 1/1;
        fill:white;
    }
@media (max-width: 1400px), {
    .run-info-link-button {
        gap: 18px;
        padding: 5px 8px;
    }

        .run-info-link-button label {
            font-size: 24px;
        }
}
@media (max-width: 1100px), (max-height:700px) {
    .run-info-link-button {
        gap: 12px;
        grid-template-columns: 36px 1fr;
    }

        .run-info-link-button label {
            font-size: 20px;
        }
}

@media (max-width: 920px) {
    .run-info-link-button {
        grid-template-columns: 32px 1fr;
        gap: 8px;
        padding: 3px 6px;
        border-radius: 8px;
    }

        .run-info-link-button label {
            font-size: 16px;
        }
}
