.shop-zone {
    max-height: calc(85vh - 280px);
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.items-for-sale-container {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    border-radius: 10px;
    padding-right: 4px;
}

    .items-for-sale-container::-webkit-scrollbar {
        position: relative;
        width: 10px;
        box-sizing: border-box;
    }

    .items-for-sale-container::-webkit-scrollbar-track {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .items-for-sale-container::-webkit-scrollbar-thumb {
        background: #5577f6;
        border-radius: 10px;
    }

        .items-for-sale-container::-webkit-scrollbar-thumb:hover {
            background: #3860fa;
        }

@media (max-width: 1400px), (max-height:900px) {
    .shop-zone {
        max-height: calc(124px + 33vh);
        gap: 18px;
    }
}


@media (max-width: 1000px), (max-height:800px) {
    .shop-zone {
        max-height: calc(50vh + 2vw - 24px);
    }
}

@media (max-height:670px) {
    .shop-zone {
        max-height: calc(45vh + 2vw - 40px);
    }
}

@media (max-height:580px) {
    .shop-zone {
        max-height: calc(38vh + 2vw - 40px);
    }
}
