@inherits LayoutComponentBase
@inject AppMainController mainController


@if (mainController.IsGameRunning())
{
    <div class="main-container">
        <div class="sidebar">
            <GameNavMenu />
        </div>
        <div class="page-content">
            @Body
        </div>
    </div>
}
else
{
    <div class="starting-screen">

        <div class="starting-screen-buttons-container">
            <NavLink class="starting-screen-button" href="run_preparing">
                New run
            </NavLink>
            <button>Upgrades</button>
            <button>Achievements</button>
            <button>Last Runs</button>
            <button>Settings</button>
            <button>Exit</button>
        </div>
    </div>

}


@code {
    private void OpenNewRunDialog()
    {

    }
}