@inherits LayoutComponentBase
@inject AppMainController mainController


@if (mainController.IsGameRunning())
{
    <div class="main-container">
        <div class="sidebar">
            <GameNavMenu />
        </div>
        <div class="page-content">
            @Body
        </div>
    </div>
}
else
{
    <button @onclick="StartNewGame" id="start-new-game-button">Start new game</button>
}


@code {
    private void StartNewGame()
    {
        mainController.StartNewGame();
    }
}