@inherits LayoutComponentBase
@inject AppController appController
@inject NavigationManager NavigationManager
@inject GameLoggingService gameLoggingService
@inject BeforeStageActionDialogService beforeStageActionDialogService

<ItemInfoDisplayDialog />
<BeforeStageActionDialog />
<SavingErrorDialog pageRefreshAction="StateHasChanged" @ref="savingErrorDialog" />

@if (appController.IsGameRunning())
{
    <div class="main-container">
        <div class="sidebar">
            <GameNavLayout />
        </div>
        <div class="page-content">
            @Body
        </div>
    </div>
}
else
{
    <div class="starting-screen">
        <div class="starting-screen-links-container">
            @if (SavingController.AnySavedGameExists())
            {
                <div class="starting-screen-link continue-link">
                    Continue
                </div>
            }
            <div class="starting-screen-link" @onclick="StartNewGame">
                New Game
            </div>
            <button>Upgrades</button>
            <button>Achievements</button>
            <button>Last Runs</button>
            <button>Settings</button>
            <button>Exit</button>
        </div>
    </div>

}
@code {
    private SavingErrorDialog savingErrorDialog;
    public void LoadSavedGame()
    {
        if (appController.TryLoadGameFromFile(gameLoggingService, beforeStageActionDialogService.ShowDialog))
        {
            StateHasChanged();
        }
        else
        {
            savingErrorDialog.Open("Game save is corrupted and cannot be opened");
            return;
        }

    }
    public void StartNewGame()
    {
        if (SavingController.AnySavedGameExists())
        {
            savingErrorDialog.Open("You already have a saved game. Do you want to delete the save?");
            return;
        }
        NavigationManager.NavigateTo("run_preparing");
    }
}