@code {
    [Parameter]
    public BaseTileItem? tileItem { get; set; }
    [Parameter]
    public string tileWidth{ get; set; }
}
<div class="machine-tile-item" style="width: @(tileWidth)">
    @if (tileItem is not null)
    {
        <img src="@ResourcePathsHelper.ResourcesImages(tileItem.Image)" onerror="this.src='@ResourcePathsHelper.DefaultTileItem';" alt="tile item image">
    }

</div>
