@code {
    [Parameter]
    public SlotMachine slotMachine { get; set; }

    private IEnumerable<BaseTileItem?> allItems;

    protected override void OnParametersSet()
    {
        allItems = slotMachine?.SingleDimensionTileItems() ?? Enumerable.Empty<BaseTileItem?>();
    }
    private string CalcGridStyle() =>
        $"grid-template-columns: repeat({slotMachine.ColumnsCount}, 1fr); grid-template-rows: repeat({slotMachine.RowsCount}, 1fr);";
    private string CalcTileItemsWidth()
    {
        int maxGridPart = Math.Max(slotMachine.ColumnsCount, slotMachine.RowsCount);
        return $"calc(28px + {16 / maxGridPart}vw + {20 / maxGridPart}vh - 3px * {maxGridPart})";
    }

        
}

<div class="slot-machine unselectable" style="@CalcGridStyle()">
    @if (allItems is not null)
    {
        @foreach (BaseTileItem? item in allItems)
        {
            <SlotMachineTileComponent tileItem="@item" tileWidth="@CalcTileItemsWidth()" />
        }
    }
    else
    {
        <h2>allItems are null</h2>
    }
</div>