@code {
    [Parameter]
    public SlotMachine slotMachine { get; set; }
    private string CalcGridStyle() =>
        $"grid-template-columns: repeat({slotMachine.ColumnsCount}, 1fr); grid-template-rows: repeat({slotMachine.RowsCount}, 1fr);";
    private string CalcTileItemsWidth()
    {
        int maxGridPart = Math.Max(slotMachine.ColumnsCount, slotMachine.RowsCount);
        return $"calc(16px + {14 / maxGridPart}vw + {18 / maxGridPart}vh)";
    }


}

<div class="slot-machine unselectable" style="@CalcGridStyle()">

    @for (int row = 0; row < slotMachine.TileItems.GetLength(0); row++)
    {

        for (int col = 0; col < slotMachine.TileItems.GetLength(1); col++)
        {

            <SlotMachineTileComponent tileItem="@slotMachine.TileItems[row, col]" tileWidth="@CalcTileItemsWidth()" />

        }
    }
</div>