<div class="progress-bar-container">
    Needed: @Needed Current: @Current
</div>

@code {
    [Parameter]
    public int Needed { get; set; } = 0;
    [Parameter]
    public int Current { get; set; } = 0;
}
