<div class="inventory">
    <div class="inventory-border"></div>
    <div class="inventory-content">

        <div class="inventory-top-div">
            @foreach (var tok in inventory.Tokens.TokensAsTuples())
            {
                <TokenDisplayComponent type="@tok.tokenType" count="@tok.count" />
            }
            <DiamondsCountDisplayComponent count="@inventory.DiamondsCount" />
        </div>
        @* with sorting *@

        <LabelWithDiamonds text="Relics" />
        <div class="inventory-items-container">
            @foreach (var i in relics)
            {
                <div>
                    <InventoryItemWithRarityComponent itemToDisplay="i" />
                </div>
            }
        </div>
        <LabelWithDiamonds text="TileItems" />
        <div class="inventory-items-container">
            @foreach (var i in tileItems)
            {
                <div>
                    <InventoryItemWithRarityComponent itemToDisplay="i" />
                </div>
            }
        </div>

        <button class="delete-item-button" @onclick="DeleteItem">
            <label>
                Delete item
            </label>
            <img src="@TokenType.InventoryItemRemoval.GetFullImagePath()" />
        </button>
    </div>

</div>

@code {
    [Parameter]
    public Inventory inventory { get; set; }

    private List<TileItem> tileItems;
    private IEnumerable<Relic> relics;

    protected override void OnParametersSet()
    {
        tileItems = inventory.TileItems ?? new();
        relics = inventory.Relics ?? new();

    }

    private void DeleteItem()
    {

    }
    public void Refresh() =>
        StateHasChanged();
}
