
<div class="token-display">
    @count (of @type type)
</div>
@* img and count *@
@code {
    [Parameter]
    public TokenType type { get; set; }
    [Parameter]
    public int count { get; set; }

}
