@inject NavigationManager NavigationManager
@inject AllGameController allGameController
<div>
    <label class="difficulty-label">selected difficulty: @selectedDifficulty.Name</label>
    <label class="choose-starter-kit-label"> Choose your starter kit</label>
    <div class="starter-kits">
        @foreach (var sK in starterKits)
        {
            <StarterKitCard starterKit="@sK" onclickAction="()=>kitSelected(sK)" />
        }
    </div>
</div>

@code {
    [Parameter]
    public Difficulty selectedDifficulty { get; set; }
    [Parameter]
    public IEnumerable<GameStarterKit> starterKits { get; set; } = [];
    private void kitSelected(GameStarterKit gameStarterKit)
    {
        allGameController.StartNewGame(gameStarterKit, selectedDifficulty);
        NavigationManager.NavigateTo("/");
    }
}
