.choose-difficulty-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
 
}

.difficulties-container {
    margin-top:16px;
    display: flex;
    flex-direction: row;
    gap: 6vw;
}

.difficulty-info-container {
    display: grid;
    grid-template-rows: auto 1fr;
 
}

.difficulty-info-label {
    justify-self: center;
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: -30px;
    font-size: 20px;
    z-index: 2;
    color: #FBFBFB;
    font-family: 'Montserrat';
    font-weight: bold;
}

.difficulty-info {
    height: calc(22vh + 100px);
    width: 640px;
    color: #FBFBFB;
    border-radius: 18px;
    padding: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #ffffff, #fdfdff, #fafaff, #f7f8ff, #f4f6ff, #f3f6ff, #f1f5ff, #f0f5ff, #f0f6ff, #f1f6ff, #f1f7ff, #f2f7ff);
    font-family: 'Montserrat';
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 20px rgb(1, 6, 9, 0.1);
}

    .difficulty-info::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
    }

    .difficulty-info::-webkit-scrollbar {
        width: 10px;
    }

    .difficulty-info::-webkit-scrollbar-thumb {
        background-color: #ECECEC;
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    .difficulty-info div p {
        margin: 5px 0;
        align-items: center;
        width: 100%;
        font-size: 20px;
        display: grid;
        grid-template-columns: auto 1fr;
        font-family: 'Montserrat';
    }

    .difficulty-info div span {
        font-weight: bold;
        margin-right: 5px;
        font-size: 30px;
        font-family: 'Montserrat';
    }

.difficulty-positives {
    color: #32CD30
}

.difficulty-negatives {
    color: #F31414
}

.cancel-button {
    position: absolute;
    bottom: 30px;
    right: 40px;
    padding: 12px 22px;
    background-image: radial-gradient(circle, #ff3a3a, #fc3737, #fa3535, #f73232, #f42f2f, #f32d2d, #f32c2c, #f22a2a, #f42a2a, #f62929, #f72929, #f92828);
    color: #FBFBFB;
    font-size: 28px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 2px;
}

    .cancel-button:hover {
        background-image: radial-gradient(circle, #e91e1e, #eb1d1d, #ed1c1c, #ee1b1b, #f01a1a, #ee1818, #ed1717, #eb1515, #e61313, #e11010, #dd0e0e, #d80b0b);
    }


.cheats-checkbox {
    margin-top:20px;
    display:flex;
    gap:10px;
    align-items:center;
    font-family:'Montserrat';
    font-size:26px;
    font-weight:bold;
    color:#001140;
}
@media (max-width: 1300px) {
    .difficulty-info {
        width: 520px;
    }
    .cancel-button {
        bottom: 26px;
        right: 30px;
        font-size: 26px;
    }
}
@media (max-width: 1100px) {
    .difficulty-info {
        width: 460px;
    }
    .cancel-button {
        bottom: 20px;
        right: 20px;
    }
}
@media (max-width: 800px) {
    .difficulty-info {
        width: 360px;
        border-radius: 14px;
        padding: 8px;
    }

    .cancel-button {
        bottom: 15px;
        right: 15px;
        padding: 10px 16px;
        font-size: 19px;
        border-radius: 6px;
    }
}