@inject NavigationManager NavigationManager
<div class="starter-kits-container">
    <LabelWithDiamonds text="Choose your starter kit" />

    <div class="starter-kits">
        @foreach (var sK in game.GenerateStarterKits())
        {
            <StarterKitCard starterKit="@sK" onclickAction="()=>kitSelected(sK)" />
        }
    </div>
</div>

@code {
    [Parameter]
    public GameFlowController game { get; set; }
    private void kitSelected(GameStarterKit gameStarterKit)
    {
        game.Start(gameStarterKit);
        NavigationManager.NavigateTo("/");
    }
}
