@inject NavigationManager NavigationManager
<div class="starter-kits-container">
    <label class="choose-starter-kit-label unselectable">
        <span>◆</span>
        Choose your starter kit
        <span>◆</span>
    </label>

    <div class="starter-kits">
        @foreach (var sK in game.GenerateStarterKits())
        {
            <StarterKitCard starterKit="@sK" onclickAction="()=>kitSelected(sK)" />
        }
    </div>
</div>

@code {
    [Parameter]
    public GameFlowController game { get; set; }
    private void kitSelected(GameStarterKit gameStarterKit)
    {
        game.Start(gameStarterKit);
        NavigationManager.NavigateTo("/");
    }
}
