@inject NavigationManager NavigationManager
<div>
    <label class="difficulty-label">selected difficulty: @game.Difficulty.Name</label>
    <label class="choose-starter-kit-label"> Choose your starter kit</label>
    <div class="starter-kits">
        @foreach (var sK in game.GenerateStarterKits())
        {
            <StarterKitCard starterKit="@sK" onclickAction="()=>kitSelected(sK)" />
        }
    </div>
</div>

@code {
    [Parameter]
    public GameFlowController game{ get; set; }
    private void kitSelected(GameStarterKit gameStarterKit)
    {
        game.Start(gameStarterKit);
        NavigationManager.NavigateTo("/");
    }
}
