.difficulty-choosing-div {
    background-color: #fffefd;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 30px;
    box-sizing: border-box;
    transition: all 0.12s ease;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 20px rgb(1, 6, 9, 0.1);
}

    .difficulty-choosing-div img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .difficulty-choosing-div label {
        margin-bottom: 10px;
        font-family: 'Montserrat';
        font-size: 26px;
        font-weight: bold;
        color: #001140;
    }

    .difficulty-choosing-div:hover {
        transform: rotateY(10deg) rotateX(10deg) scale(1.08);
        box-shadow: 0 10px 20px rgba(12, 9, 25, 0.2);
    }
@media (max-height: 900px) {
    .difficulty-choosing-div {
        width: 220px;
    }
}



@media (max-width: 1300px), (max-height: 700px) {
    .difficulty-choosing-div {
        width: 180px;
        padding: 5px 26px;
    }

        .difficulty-choosing-div label {
            font-size: 24px;
        }
}

@media (max-width: 800px), (max-height: 600px) {
    .difficulty-choosing-div {
        width: 120px;
        padding: 5px 24px;
    }

        .difficulty-choosing-div label {
            font-size: 20px;
        }
}
