
<div class="starter-kit-card">
    <div class="row-container">
        @foreach (var i in starterKit.TileItems)
        {
            <InventoryItemWithRarityComponent itemToDisplay="@i" />
        }
    </div>
    @* divider *@
    <div class="row-container">
        @foreach (var i in starterKit.Relics)
        {
            <InventoryItemWithRarityComponent itemToDisplay="@i" />
        }
    </div>
    @* divider *@
    <div class="row-container">
        @foreach (var i in starterKit.TokensCollection.AvailableTokensAsTuples())
        {
            <TokenDisplayComponent type="@i.tokenType" count="@i.count" />
        }
    </div>
</div>
@code {
    [Parameter]
    public GameStarterKit starterKit { get; set; }
}
