.starter-kit-card {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;
    padding: 8px;
    border-radius: 20px;
    transition-duration: 0.12s;
    box-shadow: 0 10px 20px rgb(12, 18, 23, 0.10);
}

    .starter-kit-card .row-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 90px;
        overflow-x: auto;
    }

    .starter-kit-card .tokens-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 50px;
        width: 100%;
        justify-content: center;
    }

    .starter-kit-card .custom-divider {
        border: 0;
        border-radius: 20px;
        height: 1px;
        background: #cccccc;
        margin: 6px 0;
        width: 90%;
    }


.choose-starter-kit-button {
    margin:6px 0;
    padding: 10px 20px;
    border: 0;
    box-shadow: #FFC524 0px 6px 0px 0px;
    background-color: #FFD40C;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:'Montserrat';
}

    .choose-starter-kit-button:hover {
        box-shadow: #FFC524 0px 2px 0px 0px;
        transform: translateY(4px);
    }


@media (max-width: 1400px), (max-height: 820px) {
    .starter-kit-card {
        width: 440px;
    }

        .starter-kit-card .row-container {
            height: 68px;
        }
}


@media (max-width: 1200px), (max-height: 700px) {
    .starter-kit-card {
        width: 320px;
    }

        .starter-kit-card .row-container {
            height: 60px;
            gap: 14px;
        }

        .starter-kit-card .tokens-container {
            height: 30px;
            gap: 14px;
        }
}

@media (max-width: 800px), (max-height: 600px) {
    .starter-kit-card {
        width: 260px;
    }

        .starter-kit-card .row-container {
            height: 50px;
            gap: 14px;
        }

        .starter-kit-card .tokens-container {
            height: 22px;
            gap: 14px;
        }
}
