
<div class="starter-kit-card">
    <div class="row-container">
        @foreach (var i in starterKit.TileItems)
        {
            <InventoryItemWithRarityComponent itemToDisplay="@i" />
        }
    </div>
    <hr class="custom-divider">
    <div class="row-container">
        @foreach (var i in starterKit.Relics)
        {
            <InventoryItemWithRarityComponent itemToDisplay="@i" />
        }
    </div>
    <hr class="custom-divider">
    <div class="tokens-container">
        @foreach (var i in starterKit.TokensCollection.TokensAsTuples())
        {
            @if (i.count > 0)
            {
                <TokenDisplayComponent type="@i.tokenType" count="@i.count" />
            }
        }
    </div>
    <button class="choose-starter-kit-button unselectable" @onclick="onclickAction">
        Choose
    </button>
</div>
@code {
    [Parameter]
    public GameStarterKit starterKit { get; set; }
    [Parameter]
    public EventCallback onclickAction { get; set; }
}
