.starter-kit-card {
    width: 470px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 20px;
}
    .starter-kit-card .row-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 80px;
        overflow-x: auto;
    }

    .starter-kit-card .tokens-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 50px;
        width: 100%;
        justify-content: center;
    }

    .starter-kit-card .custom-divider {
        border: 0;
        border-radius: 20px;
        height: 1px;
        background: #cccccc;
        margin: 6px 0;
        width: 90%;
    }


.choose-starter-kit-button {
    margin-top: 6px;
    background-image: radial-gradient(circle, #f4cf22, #f3d323, #f1d724, #f0db25, #eedf27, #eedf27, #edde28, #edde28, #eeda27, #efd526, #efd126, #f0cd26);
    border-radius: 1000px;
    border: none;
    padding: 10px 20px;
    transition: all .16s ease;
}


    .choose-starter-kit-button:hover {
        transform: scale(1.05);
    }

@media (max-width: 1200px) {
    .starter-kit-card {
        width: 320px;
    }
        .starter-kit-card .row-container {
            height: 60px;
            gap: 14px;
        }

        .starter-kit-card .tokens-container {
            height: 30px;
            gap: 14px;
        }
}

@media (max-width: 760px) {
    .starter-kit-card {
        width: 260px;
    }

        .starter-kit-card .row-container {
            height: 50px;
            gap: 14px;
        }

        .starter-kit-card .tokens-container {
            height: 22px;
            gap: 14px;
        }
}
