<div class="inventory-item-picking-card">
    <InventoryItemWithRarityComponent itemToDisplay="itemToPick" />
    <label>@itemToPick.Description</label>
    <button @onclick="()=>onPickAction()">
        Pick
    </button>
</div>

@code {
    [Parameter]
    public Action onPickAction { get; set; }
    [Parameter]
    public BaseInventoryItem itemToPick { get; set; }
}