@using static SaYSpin.Components.home_page.InventoryComponent



<div class="inventory-items-container">
    @foreach (var i in items)
    {
        <RemovingDialogItemCard item="i.Item" count="i.Count" removeAction="removeAction" />
    }
</div>
@code {
    [Parameter]
    public string label { get; set; }

    [Parameter]
    public IEnumerable<InventoryItemWithCount> items { get; set; }

    [Parameter]
    public Action<BaseInventoryItem> removeAction { get; set; }
}
