<div class="inventory">
    <div class="inventory-border"></div>
    <div class="inventory-content">

        <div class="inventory-top-div">
            <label>Diamonds: @inventory.DiamondsCount <img src="/resources/images/inventory/diamond.png" /> </label>
        </div>
      
        Tokens:


        @* with sorting *@
        Relics:

        Tile items:

        <button>Delete item</button>
    </div>

</div>

@code {
    [Parameter]
    public Inventory inventory { get; set; }
}
