.inventory {
    background: linear-gradient(to right bottom, #fdf9ff, #faf7fe, #f6f4fd, #f1f2fb, #edf0fa, #eaf0fa, #e8f0fa, #e5f0f9, #e5f2f9, #e5f4f9, #e7f6f8, #e9f8f7);
    display: grid;
    grid-template-columns: calc(0.8vw + 6px) 1fr;
}

.inventory-border {
    background-image: linear-gradient(to right, #8faeff, #8bb5ff, #8abcff, #8ac2ff, #8cc8ff, #89c7ff, #85c5ff, #82c4ff, #79bbff, #72b2ff, #6da9ff, #6c9ffd);
}

.inventory-top-div {
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    padding: 4px;
    box-sizing: border-box;
}

.inventory-items-container {
    width: 100%;
    display:grid;
    /*grid-template-columns:*/
}

    .inventory-items-container div {
        aspect-ratio:1/1;
        height: 70px;
    }

@media (max-width: 1100px) {
    .inventory-top-div {
        height: 58px;
    }
}

@media (max-width: 850px) {
    .inventory-top-div {
        height: 40px;
    }
}
