@inject AppController gameController

<div class="relics-container">
    <div class="relics-grid">
        @foreach (var relic in gameController.Game.Relics)
        {
            <div>
                <InventoryItemWithRarityComponent itemToDisplay="@relic" />
            </div>

        }
    </div>
</div>
