.content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
}
.roadmap-container{
    gap:10px;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
}
.roadmap-section {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-content: center;
    height: calc(95vh - 80px);
    overflow-y: auto;
}

.roadmap-line {
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    min-height: 100%;
    width: 26px;
    height: auto;
    background-color: #4882fa;
    border-radius: 20px;
    z-index: 0;
}

.stages {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}