@inject AppController allGameController
<div class="content">

    <MapLegend/>

    <div class="roadmap-container">
        <LabelWithDiamonds text="Run Progress" />
        <div class="roadmap-section unselectable">
            <div class="roadmap-line"> </div>
            <div class="stages">
                @for (int i = 1; i < allGameController.Game.RunProgressController.BeforeStageActionsRoadMap.Count; i++)
                {
                    <RoadmapStage index="i" />
                }
            </div>
        </div>
    </div>
</div>

