@inject AppController gameController

<div class="tile-items-container">
    <div class="tile-items-grid ">

        @foreach (var tileItem in gameController.Game.TileItems)
        {
            <div>
                <InventoryItemWithRarityComponent itemToDisplay="@tileItem" />
            </div>
        }

    </div>
</div>
