
.home-page-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(2vh + 52vw - 80px) 1fr;
}

.home-central {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    transition: all 0.4s ease;
}

.container-for-complete-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all 0.1s ease;
}

.complete-stage-button {
    position: absolute;
    bottom: -30px;
    background-image: linear-gradient(to right bottom, #58f03f, #52f038, #4df030, #46f027, #3ff01c, #3bee15, #36ed0c, #31eb00, #2fe800, #2ce400, #2ae100, #27de00);
    padding: 10px 22px;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-family: montserrat;
    font-weight: bold;
    cursor: pointer;
    transition: inherit
}

    .complete-stage-button:hover {
        padding: 10px 32px;
    }

.home-central .bottom-content {
    margin: 50px 0 30px 0;
    height: 60px;
}

@media (max-width: 1000px) {
    .home-page-container {
        grid-template-columns: calc(20vw + 180px) 1fr;
    }
    .complete-stage-button {
        padding: 8px 18px;
        bottom: -22px;
        font-size: 14px;
    }

        .complete-stage-button:hover {
            padding: 8px 28px;
        }
}

.finish-stage-button {
    padding: 10px;
}
