
.home-page-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(2vh + 52vw - 80px) 1fr;
}

.home-central {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    transition: all 0.4s ease;
}

.container-for-complete-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.finish-stage-button {
    position: absolute;
    margin-top: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: width 0.3s ease;
}

    .finish-stage-button span {
        position: relative;
        opacity: 1;
        transition: width 0.3s ease;
    }

    .finish-stage-button svg {
        transition: transform 0.3s ease;
        width: 20px;
        height: 20px;
        margin-left: 8px;
        fill: white;
        transition: width 0.3s ease;
    }

    .finish-stage-button:hover span {
        display: none;
        transform: translateX(-20px);
    }


.home-central .bottom-content {
    margin: 50px 0 30px 0;
    height: 60px;
}

.spin-button {
    height: 100%;
    padding: 12px 0;
    width: 210px;
    border: 0;
    box-shadow: #13D626 0px 8px 0px 0px;
    background-image: radial-gradient(circle, #65ff4d, #61fc46, #5df93f, #58f537, #54f22f, #50f129, #4cef23, #47ee1b, #41ee16, #3aed10, #33ed09, #2aec00);
    border-radius: 10px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    cursor: pointer;
}

    .spin-button:hover {
        box-shadow: #13D626 0px 4px 0px 0px;
        transform: translateY(4px);
    }

@media (max-width: 700px) {
    .home-page-container {
        grid-template-columns: calc(20vw + 180px) 1fr;
    }

    .spin-button {
        width: 200px;
        border-radius: 12px;
        font-size: 28px;
    }
}

.finish-stage-button {
    padding: 10px;
}
