@page "/"
@inject AppMainController mainAppController

@code {
    public GameplayController gameController;

    protected override void OnInitialized()
    {
        gameController = mainAppController.Game;
    }
}
<div class="home-page-container">
    <div class="home-central">
        <SlotMachineComponent SlotMachine="@gameController.SlotMachine" />
        <StageProgressBar Current="0" Needed="100" />
        <button @onclick="CallUpdateItems" class="spin-button">Spin</button>
    </div>
    <InventoryComponent diamondsCount="gameController.DiamondsCount" inventory="gameController.Inventory" />
</div>

@code {

    private void CallUpdateItems()
    {
        TileItemsPicker itemsPicker = new(gameController.SlotMachine.TotalSlots);
        itemsPicker.PickItemsFrom(gameController.Inventory.TileItems);
        gameController.SlotMachine.UpdateItems(itemsPicker);
    }
}
