@page "/run_info"
@inject AllGameController allGameController
<button @onclick="OpenFinishRunDialog">Finish run</button>
@code {
    private void OpenFinishRunDialog()
    {
        //show dialog but for now
        allGameController.FinishGame();
    }
}
