
.info-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:100%;
    width:100%;
    box-sizing:border-box;
}
.link-buttons-container{
    display:flex;
    flex-direction:column;
    padding:80px;
    gap:10px;

}
