.run-preparing-page {
    background-image: radial-gradient(circle, #70daff, #6dd9ff, #69d8ff, #66d7ff, #62d6ff, #60d4ff, #5ed1ff, #5ccfff, #5ccbff, #5ec6ff, #62c2ff, #66bdff);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-button {
    position: absolute;
    bottom: 26px;
    right: 30px;
    padding: 12px 22px;
    background-image: radial-gradient(circle, #ff3a3a, #fc3737, #fa3535, #f73232, #f42f2f, #f32d2d, #f32c2c, #f22a2a, #f42a2a, #f62929, #f72929, #f92828);
    color: #FBFBFB;
    font-size: 26px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 2px;
}

    .cancel-button:hover {
        background-image: radial-gradient(circle, #e91e1e, #eb1d1d, #ed1c1c, #ee1b1b, #f01a1a, #ee1818, #ed1717, #eb1515, #e61313, #e11010, #dd0e0e, #d80b0b);
    }

.run-preparing-page .content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 860px) {
    .cancel-button {
        bottom: 15px;
        right: 15px;
        padding: 10px 16px;
        font-size: 19px;
        border-radius: 6px;
    }
}

@media (min-width: 1100px) {
    .cancel-button {
        bottom: 30px;
        right: 40px;
        font-size: 28px;
    }
}
