@page "/run_preparing"
@layout Layout.EmptyLayout
@inject AllGameController allGameController
@inject GameLoggingService gameLoggingService
<div class="run-preparing-page">
    <div class="content">
        @if (currentStageIsDifficlutyChoosing)
        {
            <ChooseDifficultyStageComponent onDifficultyChosen="@DifficultyChosen" />
        }
        else
        {
            <ChooseStarterKitStageComponent game="allGameController.Game" />
        }
    </div>
</div>

@code {
    private bool currentStageIsDifficlutyChoosing = true;

    private void DifficultyChosen(Difficulty difficulty, bool cheatsEnebled)
    {
        allGameController.InitializeNewGame(difficulty, gameLoggingService, cheatsEnebled);
        currentStageIsDifficlutyChoosing = false;
        StateHasChanged();
    }
}
