.run-preparing-page {
    background-image: radial-gradient(circle, #70daff, #6dd9ff, #69d8ff, #66d7ff, #62d6ff, #60d4ff, #5ed1ff, #5ccfff, #5ccbff, #5ec6ff, #62c2ff, #66bdff);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-button {
    position: absolute;
    bottom: 26px;
    right: 30px;
    padding: 12px 22px;
    background-image: radial-gradient(circle, #ff3a3a, #fc3737, #fa3535, #f73232, #f42f2f, #f32d2d, #f32c2c, #f22a2a, #f42a2a, #f62929, #f72929, #f92828);
    color: #FBFBFB;
    font-size: 26px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 2px;
}

    .cancel-button:hover {
        background-image: radial-gradient(circle, #e91e1e, #eb1d1d, #ed1c1c, #ee1b1b, #f01a1a, #ee1818, #ed1717, #eb1515, #e61313, #e11010, #dd0e0e, #d80b0b);
    }

.run-preparing-page .content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .run-preparing-page .content .choose-difficulty-label {
        color: #FBFBFB;
        font-weight: bold;
        font-size: 36px;
        font-family: 'Montserrat';
        letter-spacing: 2px;
    }

.choose-difficulty-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.difficulties-container {
    display: flex;
    flex-direction: row;
    gap:4vw;
}

.difficulty-info-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.difficulty-info-label {
    justify-self: center;
    background-image: radial-gradient(circle, #428bff, #4486ff, #4881ff, #4d7cff, #5277ff, #5274ff, #5371ff, #546eff, #4f6cff, #496bff, #4469ff, #3d68ff);
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: -20px;
    font-size: 20px;
    z-index: 2;
    color: #FBFBFB;
    font-family: 'Montserrat';
    font-weight: bold;
}

.difficulty-info {
    height: calc(22vh + 100px);
    width: 480px;
    color: #FBFBFB;
    border-radius: 18px;
    padding: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #ffffff, #fdfdff, #fafaff, #f7f8ff, #f4f6ff, #f3f6ff, #f1f5ff, #f0f5ff, #f0f6ff, #f1f6ff, #f1f7ff, #f2f7ff);
    font-family: 'Montserrat';
    position: relative;
    z-index: 1;
    
}

    .difficulty-info::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
    }
    .difficulty-info::-webkit-scrollbar {
        width: 10px; 
    }

    .difficulty-info::-webkit-scrollbar-thumb {
        background-color: #ECECEC; 
        border-radius: 10px; 
        border: 2px solid transparent; 
        background-clip: padding-box; 
    }
    .difficulty-info div p {
        margin: 5px 0;
        align-items: center;
        width: 100%;
        font-size: 20px;
        display: grid;
        grid-template-columns: auto 1fr;
        font-family: 'Montserrat';
    }
    .difficulty-info div span {
        font-weight: bold;
        margin-right: 5px;
        font-size: 30px;
        font-family: 'Montserrat';
    }

.difficulty-positives {
    color: #32CD30
}

.difficulty-negatives {
    color: #F31414
}

@media (max-width: 860px) {
    .cancel-button {
        bottom: 15px;
        right: 15px;
        padding: 10px 16px;
        font-size: 19px;
        border-radius: 6px;
    }


    .difficulty-info {
        width: 360px;
        border-radius: 14px;
        padding: 8px;
    }
}

@media (min-width: 1100px) {
    .cancel-button {
        bottom: 30px;
        right: 40px;
        font-size: 28px;
    }

    .difficulty-info {
        width: 640px;
    }
}
