.run-preparing-page {
    background-image: radial-gradient(circle, #70daff, #6dd9ff, #69d8ff, #66d7ff, #62d6ff, #60d4ff, #5ed1ff, #5ccfff, #5ccbff, #5ec6ff, #62c2ff, #66bdff);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.run-preparing-page .content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}