.shop-page-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 24px;
    overflow-x: hidden;
}

.shop-roof {
    width: 130%;
    transform: translateX(-11.6%);
    aspect-ratio: 8.6/1;
    background-color: transparent;
}

.shops-zone {
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 600px;
    grid-template-rows: 1fr 68px;
    grid-template-areas:
        'titms relic spcm'
        'rfrb  rfrb invin';
    padding: 0 28px 30px 28px;
    gap: 20px;
    box-sizing: border-box;
}


.refresh-button {
    grid-area: rfrb;
    justify-self: center;
    margin-top: auto;
    height: 100%;
    width: 200px;
    background-color: #fae710;
    box-sizing: border-box;
    padding: 10px;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.08s ease-in;
    cursor: pointer;
}

    .refresh-button img {
        margin-bottom: 2px;
        height: 2em;
    }

    .refresh-button:hover {
        transform: scale(1.05);
    }

    .refresh-button:active {
        transform: scale(0.96);
    }

.refresh-disabled {
    color: #f6f6f2;
    background-color: #4d4d48;
    cursor: not-allowed;
}

    .refresh-disabled:hover {
        transform: none;
    }

.special-merchant-container {
    grid-area: spcm;
}

.tokens-and-diamonds-container {
    grid-area: invin;
    justify-self: end;
    height: 100%;
    width: fit-content;
    padding: 10px 20px;
    padding-left: 30px;
    background-color: white;
    border-radius: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 6px;
    box-sizing: border-box;
}

@media (max-width: 1400px), (max-height:900px) {
    .shops-zone {
        grid-template-rows: 1fr 60px;
        grid-template-columns: 1fr 1fr 500px;
    }

    .refresh-button {
        width: 180px;
        font-size: 18px;
    }
}


@media (max-width: 1000px), (max-height:800px) {
    .shop-roof {
        width: 100%;
        transform: translateX(0);
    }

    .shops-zone {
        grid-template-rows: 1fr 54px;
        grid-template-columns: 1fr 1fr 420px;
    }

    .refresh-button {
        width: 170px;
        font-size: 17px;
    }
}

@media (max-width: 850px), (max-height:670px) {
    .shops-zone {
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr 1fr 360px;
        padding-bottom:20px;
    }

    .refresh-button {
        width: 170px;
        font-size: 16px;
    }
}

@media (max-width: 720px), (max-height:580px) {
    .shop-roof {
        width: 90%;
        transform: translateX(5%);
    }
    .shops-zone {
        grid-template-columns: 1fr 1fr 280px;
        padding-bottom: 12px;
    }
}
