@page "/shop"
@inject AppController appController
@code {
    private ShopItemDialog shopItemDialog;
    private void BuyItem(ItemForSale item)
    {
    }
    private void OpenShopItemDialog(ItemForSale item) =>
        shopItemDialog.Open(item);
}
<ShopItemDialog @ref="shopItemDialog"></ShopItemDialog>
<div class="shop-page-container">
    <svg class="shop-roof" viewBox="0 200 3000 800" preserveAspectRatio="none">
        <path fill-rule="evenodd" fill="rgb(100%, 52.929688%, 40.405273%)" fill-opacity="1" d="M 567.273438 714.539062 L 876.308594 300 L 737.710938 300 L 360 714.539062 L 567.273438 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(100%, 52.929688%, 40.405273%)" fill-opacity="1" d="M 2262.289062 300 L 2123.691406 300 L 2432.730469 714.539062 L 2640 714.539062 L 2262.289062 300 " />
        <path fill-rule="evenodd" fill="rgb(100%, 100%, 100%)" fill-opacity="1" d="M 774.546875 714.539062 L 1014.910156 300 L 876.308594 300 L 567.273438 714.539062 L 774.546875 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(100%, 100%, 100%)" fill-opacity="1" d="M 2123.691406 300 L 1985.089844 300 L 2225.449219 714.539062 L 2432.730469 714.539062 L 2123.691406 300 " />
        <path fill-rule="evenodd" fill="rgb(100%, 52.929688%, 40.405273%)" fill-opacity="1" d="M 981.816406 714.539062 L 1153.5 300 L 1014.910156 300 L 774.546875 714.539062 L 981.816406 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(100%, 52.929688%, 40.405273%)" fill-opacity="1" d="M 2225.449219 714.539062 L 1985.089844 300 L 1846.5 300 L 2018.179688 714.539062 L 2225.449219 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(100%, 100%, 100%)" fill-opacity="1" d="M 1189.089844 714.539062 L 1292.101562 300 L 1153.5 300 L 981.816406 714.539062 L 1189.089844 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(100%, 100%, 100%)" fill-opacity="1" d="M 2018.179688 714.539062 L 1846.5 300 L 1707.898438 300 L 1810.910156 714.539062 L 2018.179688 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(100%, 52.929688%, 40.405273%)" fill-opacity="1" d="M 1396.359375 714.539062 L 1430.699219 300 L 1292.101562 300 L 1189.089844 714.539062 L 1396.359375 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(100%, 52.929688%, 40.405273%)" fill-opacity="1" d="M 1810.910156 714.539062 L 1707.898438 300 L 1569.300781 300 L 1603.640625 714.539062 L 1810.910156 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(100%, 100%, 100%)" fill-opacity="1" d="M 1603.640625 714.539062 L 1569.300781 300 L 1430.699219 300 L 1396.359375 714.539062 L 1603.640625 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.5%, 40.795898%, 29.710388%)" fill-opacity="1" d="M 567.273438 714.539062 L 360 714.539062 C 360 714.539062 360 816.648438 360 899.371094 C 360 926.851562 370.917969 953.210938 390.355469 972.648438 C 409.789062 992.078125 436.148438 1003 463.632812 1003 C 463.636719 1003 463.636719 1003 463.636719 1003 C 491.125 1003 517.484375 992.078125 536.917969 972.648438 C 556.355469 953.210938 567.273438 926.851562 567.273438 899.371094 C 567.273438 816.648438 567.273438 714.539062 567.273438 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.889099%, 88.28125%, 88.671875%)" fill-opacity="1" d="M 774.546875 714.539062 L 567.273438 714.539062 C 567.273438 714.539062 567.273438 816.648438 567.273438 899.371094 C 567.273438 926.851562 578.191406 953.210938 597.628906 972.648438 C 617.0625 992.078125 643.421875 1003 670.90625 1003 C 670.90625 1003 670.910156 1003 670.910156 1003 C 698.398438 1003 724.757812 992.078125 744.191406 972.648438 C 763.628906 953.210938 774.546875 926.851562 774.546875 899.371094 C 774.546875 816.648438 774.546875 714.539062 774.546875 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.5%, 40.795898%, 29.710388%)" fill-opacity="1" d="M 981.816406 714.539062 L 774.546875 714.539062 C 774.546875 714.539062 774.546875 816.648438 774.546875 899.371094 C 774.546875 926.851562 785.464844 953.210938 804.898438 972.648438 C 824.335938 992.078125 850.695312 1003 878.179688 1003 C 878.179688 1003 878.183594 1003 878.183594 1003 C 905.667969 1003 932.027344 992.078125 951.464844 972.648438 C 970.898438 953.210938 981.816406 926.851562 981.816406 899.371094 C 981.816406 816.648438 981.816406 714.539062 981.816406 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.889099%, 88.28125%, 88.671875%)" fill-opacity="1" d="M 1189.089844 714.539062 L 981.816406 714.539062 C 981.816406 714.539062 981.816406 816.648438 981.816406 899.371094 C 981.816406 926.851562 992.738281 953.210938 1012.171875 972.648438 C 1031.609375 992.078125 1057.96875 1003 1085.449219 1003 C 1085.449219 1003 1085.460938 1003 1085.460938 1003 C 1112.941406 1003 1139.300781 992.078125 1158.738281 972.648438 C 1178.171875 953.210938 1189.089844 926.851562 1189.089844 899.371094 C 1189.089844 816.648438 1189.089844 714.539062 1189.089844 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.5%, 40.795898%, 29.710388%)" fill-opacity="1" d="M 1396.359375 714.539062 L 1189.089844 714.539062 C 1189.089844 714.539062 1189.089844 816.648438 1189.089844 899.371094 C 1189.089844 926.851562 1200.011719 953.210938 1219.441406 972.648438 C 1238.878906 992.078125 1265.238281 1003 1292.730469 1003 C 1320.210938 1003 1346.578125 992.078125 1366.011719 972.648438 C 1385.441406 953.210938 1396.359375 926.851562 1396.359375 899.371094 C 1396.359375 816.648438 1396.359375 714.539062 1396.359375 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.889099%, 88.28125%, 88.671875%)" fill-opacity="1" d="M 1603.640625 714.539062 L 1396.359375 714.539062 C 1396.359375 714.539062 1396.359375 816.648438 1396.359375 899.371094 C 1396.359375 926.851562 1407.28125 953.210938 1426.71875 972.648438 C 1446.148438 992.078125 1472.511719 1003 1500 1003 C 1527.488281 1003 1553.851562 992.078125 1573.28125 972.648438 C 1592.71875 953.210938 1603.640625 926.851562 1603.640625 899.371094 C 1603.640625 816.648438 1603.640625 714.539062 1603.640625 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.5%, 40.795898%, 29.710388%)" fill-opacity="1" d="M 1810.910156 714.539062 L 1603.640625 714.539062 C 1603.640625 714.539062 1603.640625 816.648438 1603.640625 899.371094 C 1603.640625 926.851562 1614.558594 953.210938 1633.988281 972.648438 C 1653.429688 992.078125 1679.789062 1003 1707.269531 1003 C 1707.269531 1003 1707.269531 1003 1707.28125 1003 C 1734.761719 1003 1761.121094 992.078125 1780.558594 972.648438 C 1799.988281 953.210938 1810.910156 926.851562 1810.910156 899.371094 C 1810.910156 816.648438 1810.910156 714.539062 1810.910156 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.889099%, 88.28125%, 88.671875%)" fill-opacity="1" d="M 2018.179688 714.539062 L 1810.910156 714.539062 C 1810.910156 714.539062 1810.910156 816.648438 1810.910156 899.371094 C 1810.910156 926.851562 1821.828125 953.210938 1841.261719 972.648438 C 1860.699219 992.078125 1887.058594 1003 1914.539062 1003 C 1914.550781 1003 1914.550781 1003 1914.550781 1003 C 1942.03125 1003 1968.390625 992.078125 1987.828125 972.648438 C 2007.261719 953.210938 2018.179688 926.851562 2018.179688 899.371094 C 2018.179688 816.648438 2018.179688 714.539062 2018.179688 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.5%, 40.795898%, 29.710388%)" fill-opacity="1" d="M 2225.460938 714.539062 L 2018.179688 714.539062 C 2018.179688 714.539062 2018.179688 816.648438 2018.179688 899.371094 C 2018.179688 926.851562 2029.101562 953.210938 2048.539062 972.648438 C 2067.96875 992.078125 2094.328125 1003 2121.820312 1003 C 2149.308594 1003 2175.671875 992.078125 2195.101562 972.648438 C 2214.539062 953.210938 2225.460938 926.851562 2225.460938 899.371094 C 2225.460938 816.648438 2225.460938 714.539062 2225.460938 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.889099%, 88.28125%, 88.671875%)" fill-opacity="1" d="M 2432.730469 714.539062 L 2225.460938 714.539062 C 2225.460938 714.539062 2225.460938 816.648438 2225.460938 899.371094 C 2225.460938 926.851562 2236.371094 953.210938 2255.808594 972.648438 C 2275.238281 992.078125 2301.601562 1003 2329.089844 1003 C 2356.578125 1003 2382.941406 992.078125 2402.371094 972.648438 C 2421.808594 953.210938 2432.730469 926.851562 2432.730469 899.371094 C 2432.730469 816.648438 2432.730469 714.539062 2432.730469 714.539062 " />
        <path fill-rule="evenodd" fill="rgb(87.5%, 40.795898%, 29.710388%)" fill-opacity="1" d="M 2640 714.539062 L 2432.730469 714.539062 C 2432.730469 714.539062 2432.730469 816.648438 2432.730469 899.371094 C 2432.730469 926.851562 2443.648438 953.210938 2463.078125 972.648438 C 2482.519531 992.078125 2508.878906 1003 2536.359375 1003 C 2536.359375 1003 2536.359375 1003 2536.371094 1003 C 2563.851562 1003 2590.210938 992.078125 2609.648438 972.648438 C 2629.078125 953.210938 2640 926.851562 2640 899.371094 C 2640 816.648438 2640 714.539062 2640 714.539062 " />
    </svg>
    <div class="shop-zone">
        <div class="main-items-zone">
            <div class="ti-zone">
                <LabelWithDiamonds text="Tile Items" />
                <div class="items-for-sale-container">
                    @foreach (var item in appController.Game.Shop.TileItemsForSale)
                    {
                        <ShopItemCard item="item" onClick="()=>OpenShopItemDialog(item)" />
                    }
                </div>

            </div>
            <div class="r-zone">
                <LabelWithDiamonds text="Relics" />
                <div class="items-for-sale-container">
                    @foreach (var item in appController.Game.Shop.RelicsForSale)
                    {
                        <ShopItemCard item="item" onClick="()=>OpenShopItemDialog(item)" />
                    }
                </div>
            </div>
            <div class="refresh-button" @onclick=RefreshButtonClicked>
                Refresh
            </div>
        </div>
        <div class="special-merchant-container">
            Special Merchant
        </div>
    </div>
</div>
<div class="tokens-and-diamonds-container">
    @foreach (var i in appController.Game.Inventory.Tokens.TokensAsTuples())
    {
        <TokenDisplayComponent type="@i.tokenType" count="@i.count" />
    }
    <DiamondsCountDisplayComponent count="@appController.Game.Inventory.DiamondsCount" />
</div>




@code {
    private void RefreshButtonClicked()
    {
    }
}
