@inject IJSRuntime JSRuntime
@inject BeforeStageActionDialogService DialogService
@inject AppController appController
<dialog id="beforeStageAction" class="unselectable">
    <div class="dialog-content">
        @switch (currentActionToShow)
        {
            case null:
                break;
            case BeforeStageActionType.OneOfActionsChoosing:
                <OneOfActionsChoosingDialogContent actions="actionsToShow[1..]"
                                                      onActionSelected="(action)=>{
                                                        actionsToShow.Clear();
                                                        actionsToShow.Add(action);
                                                        actionsToShow.Add(action);
                                                        MoveToNextBeforeStageAction();
                                                      }" />
                break;
            case BeforeStageActionType.TileItemChoosing:
                ItemsToChooseFromInChoosingActions = appController.Game.GenerateTileItemsForNewStageChoosing();
                <ItemChoosingDialogContent ItemsToChooseFrom="ItemsToChooseFromInChoosingActions"
                                              itemChosenAction="(item)=>{appController.Game.AddTileItemToInventory(item as TileItem);MoveToNextBeforeStageAction();}"
                                              refreshItemsAction="RefreshTileItems"
                                              skipAction="OnSkipPressed"
                                              tokensCount="appController.Game.Inventory.Tokens.Count(TokenType.NewStageItemsRefresh)" />
                break;
            case BeforeStageActionType.RelicChoosing:
                ItemsToChooseFromInChoosingActions = appController.Game.GenerateRelicsForNewStageChoosing();
                <ItemChoosingDialogContent ItemsToChooseFrom="ItemsToChooseFromInChoosingActions"
                                              itemChosenAction="(item)=>{appController.Game.AddRelicToInventory(item as Relic);MoveToNextBeforeStageAction();}"
                                              refreshItemsAction="RefreshRelics"
                                              skipAction="OnSkipPressed"
                                              tokensCount="appController.Game.Inventory.Tokens.Count(TokenType.NewStageItemsRefresh)" />
                break;
            case BeforeStageActionType.AddRow:
            case BeforeStageActionType.AddColumn:
                <SlotMachineExtendedDialogContent actionType="currentActionToShow"
                                                     currentRowCount="appController.Game.SlotMachine.RowsCount"
                                                     currentColumnCount="appController.Game.SlotMachine.ColumnsCount"
                                                     OnOkClicked="()=>{ExtendSlotMachine(currentActionToShow); MoveToNextBeforeStageAction();}" />
                break;
            case BeforeStageActionType.TokenChoosing:
                <TokenChoosingDialogContent onTokenSelected="(token)=>{appController.Game.Inventory.Tokens.AddToken(token); MoveToNextBeforeStageAction();}" />
                break;
            default:
                <h1>Not implemented type: @currentActionToShow</h1>
                break;

        }
    </div>
</dialog>
@code {
    BaseInventoryItem[] ItemsToChooseFromInChoosingActions { get; set; } = [];
    private List<BeforeStageActionType> actionsToShow { get; set; }
    private BeforeStageActionType? currentActionToShow => actionsToShow is not null && actionsToShow.Count > 0 ? actionsToShow[0] : null;
    public async Task Open(BeforeStageActionsGroup actionsGroup)
    {
        switch (actionsGroup.ActionType)
        {
            case BeforeStageActionGroupType.None:
                actionsToShow = [];
                return;
            case BeforeStageActionGroupType.All:
                actionsToShow = actionsGroup.Actions.ToList();
                break;
            case BeforeStageActionGroupType.OneOf:
                actionsToShow = [BeforeStageActionType.OneOfActionsChoosing];
                actionsToShow.AddRange(actionsGroup.Actions);
                break;
            default:
                throw new ArgumentException("Not supported before stage action group type");
        }
        await JSRuntime.InvokeVoidAsync("blazorDialogFunctions.openDialog", "beforeStageAction");
        StateHasChanged();

    }

    private async Task Close() =>
        await JSRuntime.InvokeVoidAsync("blazorDialogFunctions.closeDialog", "beforeStageAction");


    private void OnSkipPressed()
    {
        appController.Game.TriggerOnNewStageChoosingSkippedEffects();
        MoveToNextBeforeStageAction();

    }
    private void RefreshTileItems()
    {
        if (appController.Game.UseToken(TokenType.NewStageItemsRefresh))
            ItemsToChooseFromInChoosingActions = appController.Game.GenerateTileItemsForNewStageChoosing();
    }


    private void RefreshRelics()
    {
        if (appController.Game.UseToken(TokenType.NewStageItemsRefresh))
            ItemsToChooseFromInChoosingActions = appController.Game.GenerateRelicsForNewStageChoosing();
    }
    public void ExtendSlotMachine(BeforeStageActionType? actionType)
    {
        if (actionType == BeforeStageActionType.AddRow)
            appController.Game.SlotMachine.IncreaseRowsCount();
        else if (actionType == BeforeStageActionType.AddColumn)
            appController.Game.SlotMachine.IncreaseColumnsCount();
        else throw new NotImplementedException("Impossible action type");
    }
    private void MoveToNextBeforeStageAction()
    {
        if (actionsToShow.Count > 1)
            actionsToShow.RemoveAt(0);
        else
            Close();
        StateHasChanged();
    }
    protected override void OnInitialized() =>
        DialogService.OnShow = Open;

    public void Dispose() => DialogService.Clear();
}
