@inject IJSRuntime JSRuntime
@inject AppController appController

<dialog id="itemRemovingDialog" class="unselectable">
    <div class="dialog-content">
        <label class="choose-label">Choose items to remove</label>

        <DialogCloseButton closeAction="()=>Close()" />
    </div>
</dialog>

@code {
    public async Task Open()
    {
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("blazorDialogFunctions.openDialog", "itemRemovingDialog");
    }

    private async Task Close() =>
        await JSRuntime.InvokeVoidAsync("blazorDialogFunctions.closeDialog", "itemRemovingDialog");
}
 