@inject ShowItemInfoDialogService showItemInfoDialog
@inject IJSRuntime JSRuntime

<dialog id="shopItemDialog">
    <DialogCloseButton closeAction="()=>Close()" />
    @if (item is not null)
    {
        <div class="dialog-content unselectable">
            <label class="item-name" style="color:@item.Rarity.ToHexColor()">@item.Name</label>
            <div class="img-container">
                <InventoryItemWithRarityComponent itemToDisplay="item" />
                <label class="press-label">Press for more info</label>
            </div>

            <label class="item-price">@price</label>
            <div class="buy-button">Buy</div>
        </div>
    }
</dialog>
@code {
    public BaseInventoryItem item;
    public int price;
    public async Task Open(BaseInventoryItem item, int price)
    {
        this.item = item;
        this.price = price;
        await JSRuntime.InvokeVoidAsync("blazorDialogFunctions.openDialog", "shopItemDialog");
        this.StateHasChanged();
    }

    private async Task Close() =>
        await JSRuntime.InvokeVoidAsync("blazorDialogFunctions.closeDialog", "shopItemDialog");

}
