<div class="buttons-container">
    <button class="skip-button" @onclick="onSkip">
        Skip
    </button>
    <button @onclick="onRefresh" class='refresh-button @(tokensCount<1 ? "refresh-disabled" : "")'>
        <label>
            Refresh (@tokensCount  <img src="@TokenType.NewStageItemsRefresh.ImageFullPath()" />)
        </label>
    </button>
</div>


@code {
    [Parameter]
    public int tokensCount { get; set; }
    [Parameter]
    public Action onRefresh { get; set; }
    [Parameter]
    public Action onSkip { get; set; }
}
